@tailwind base;
@tailwind components;
@tailwind utilities;

.star-rating svg {
  display: inline-block;
}

@media (min-width: 1400px) {
  .container {
    max-width: 1270px;
  }
}

.navbar .nav-link.active {
  color: #1d4ed8;
}
